<app-auth-content>
        <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <!-- ส่วนหัว -->
                        <div class="tile-title-w-btn">
                                <h6 >
                                        <i (click)="OnBack()" class="fa fa-chevron-circle-left"></i> 
                                    </h6>
                            <h3 class="title">
                                <i class="fa fa-book"></i> Orderitem 
                            </h3>
                            
                            <!-- ค้นหา -->
                            <div class="form-group">
                                <div class="input-group">
                                   
                                       
                                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="ค้นหาข้อมูล">
        
                                    <!-- <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="tile-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                                <th>OrderId</th>
                                                <th>ItemId</th>
                                                <th>ItemName</th>
                                                <th>ItemUnit</th>
                                                <th>Price</th>
                                                <th>Package</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of orderitem | filter:searchText">
                                           
                                            <td>{{ item.OrderId }}</td>
                                            <td>{{ item.ItemId }}</td>
                                            <td>{{ item.ItemName }}</td>
                                            <td>{{ item.ItemUnit }}</td>
                                            <td>{{item.Price}}</td>
                                            <td>{{item.Package}}</td>
                                            
                                        </tr>
                                    </tbody>
                                    <!-- <tfoot>
                                        <tr>
                                            <th colspan="7">
                                                จำนวนสมาชิกทั้งหมด 0 คน
                                            </th>
                                        </tr>
                                    </tfoot> -->
                                </table>
        
                                <pagination previousText="หน้าก่อนหน้า" nextText="หน้าถัดไป" [totalItems]="30"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </app-auth-content>
